body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-align: center;
}

.cta {
  color: Aquamarine;
  font-size: 16px;
}

p {
  font-size: 21px;
  color: Gray;
}

h2 {
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.footnote {
  text-align: right;
  color: gray;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
